extends layouts/main-layout.pug

block content
    p List of products
    div
        if prods.length > 0 
            each product in prods
                article 
                    header 
                        h1 #{product.title}
                    div
                        img(src="https://cdn.pixabay.com/photo/2017/02/26/21/39/rose-2101475_960_720.jpg", alt="Book")
                    div
                        h2  19.99
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, maxime.
                    div 
                        button Add to Cart
        else 
            h1 No Data